.Todo {
  text-align: left;
  margin-left: 0;
}

.aligned {
  display: flex;
  align-items: center;
}

.done {
  text-decoration: line-through red;
  font-style: italic;
}

.noCheckDone {
  margin-left: 30px;
}
